@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-white antialiased selection:bg-purple-500/30;
  }
}

@layer utilities {
  .glass-card {
    @apply bg-white/5 backdrop-blur-2xl border border-white/10 shadow-xl;
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-400 to-purple-600;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}